<!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider>

<mat-list>
 <mat-list-item> Pepper </mat-list-item>
 <mat-list-item> Salt </mat-list-item>
 <mat-list-item> Paprika </mat-list-item>
</mat-list>



 <button mat-raised-button>Basic</button>
  -->

 


<div class="container">
	<router-outlet></router-outlet>
</div>


<!-- 
<mat-toolbar [color]="'primary'">
  Toolbar
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened> Sidenav content</mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>


 -->