<!-- <div class="container">
  <h1 class="title">
    Home
  </h1>
  
	<button mat-button>Start</button>
 -->
 <!--  <a routerLink="/detail">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a> -->
<!-- </div>
 -->


<div>
	<mat-slider min="1" max="100" step="1" value="1"></mat-slider>
	<br>
		<button mat-raised-button  (click)="connectDB()">Connect DB </button>	 
	 	<button mat-raised-button  (click)="runSQLQuery()">Get Tables </button>	 
	 	<button mat-raised-button  (click)="generateFiles()">Generate Files </button>	 
	<br>
  
	<mat-form-field class="example-form-field">
	  <mat-label>Clearable input</mat-label>
	  <input matInput type="text" [(ngModel)]="projectBaseFlutterApp">
	  <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
	    <mat-icon>close</mat-icon>
	  </button>
	</mat-form-field>
	<br>
	<mat-form-field class="example-form-field">
	  <mat-label>Clearable input</mat-label>
	  <input matInput type="text" [(ngModel)]="projectGeneratedFlutterApp">
	  <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
	    <mat-icon>close</mat-icon>
	  </button>
	</mat-form-field>


	<br>
 
	<mat-selection-list #shoes>
	  <mat-list-option *ngFor="let t of tablesList" (click)="selectedTable(t.TABLE_NAME)">
	    {{t.TABLE_NAME}}
	  </mat-list-option>
	</mat-selection-list>
 
<!-- 
	<div class="container">

		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<ul >
				  <li *ngFor="let t of tablesList" (click)="selectedTable(t.TABLE_NAME)">
				      {{t.TABLE_NAME}}
				  </li>
				</ul> 
			</div> 
		</div>
	</div> -->
 
</div>
 