<!-- <div class="container">
  <h1 class="title">
    Home
  </h1>
  
	<button mat-button>Start</button>
 -->
 <!--  <a routerLink="/detail">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a> -->
<!-- </div>
 -->


<div>
	 <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
	 <br>
	<button mat-raised-button  (click)="connectDB()">Connect DB </button>	 
 	<button mat-raised-button  (click)="runSQLQuery()">Get Tables </button>	
 	<button mat-raised-button  (click)="createFile()">Create File </button>	 

 <!--
	<br>
	<label>Select a Table</label>
	<br>
 	<select [(ngModel)]="selectedTable" (change)="tableChanged()">
		<option *ngFor="let sel_table of availableTables" [value]="sel_table">{{sel_table.TABLE_NAME }}</option>
	</select> -->
	<br>
 
	<div class="container">

		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<ul >
				  <li *ngFor="let t of tablesList" (click)="selectedTable(t.TABLE_NAME)">
				      {{t.TABLE_NAME}}
				  </li>
				</ul> 
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> 
				<ul >
				  <li *ngFor="let c of selectedColumns" >
				      {{c.column_name}}
				  </li>
				</ul> 
			</div>
		</div>
	</div>




</div>



